* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
  margin: 0 auto;
  max-width: 800px;
}

.settings {
  border-right: 1px dashed #ccc;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings h2 {
  margin-bottom: 3rem;
}

.settings ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

#actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button[data-type] {
  padding: 10px;
  background-color: transparent;
  border: 1px solid rgb(205, 205, 205);
  font-size: 14px;
  transition: .2s ease;
  min-width: 110px;
  cursor: pointer;
}

button[data-type]:hover {
  background-color: rgb(205, 205, 205);
}

.select {
  position: relative;
  width: 300px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.select__label {
  position: absolute;
  top: 50%;
  font-size: 16px;
  transform: translateY(-50%);
  transition: .2s ease;
}
.select__label_opened {
  top: -5px;
  color: rgb(145, 145, 145);
  font-size: 12px;
}
.select__label_selected {
  top: -5px;
  color: rgb(62, 115, 195);
  font-size: 12px;
}

.select__value {
  font-size: 16px;
}

.select__arrow {
  height: 15px;
  transition: .3s ease;
}

.select__arrow_opened {
  transform: rotate(180deg);
}

.select-card {
  position: absolute;
  left: 50%;
  top: 100px;
  width: 0px;
  height: 0px;

  box-shadow: 0px 0px 12px 1px rgba(196,196,196,1);
  overflow: scroll;
  transition: .3s ease;
}

.select-card_active {
  top: calc(100% + 10px);
  left: 0px;

  display: block;
  width: 100%;
  height: 200px;
}

.select-card__item {
  font-size: 16px;
  padding: 15px;
}

.select-card__item:hover {
  background-color: #e2e2e2;
}

